<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>EDIT HERE....</h1>
</div>
<div class="card">
                <div class="card-body">
                  <h4 class="card-title">Edit Product</h4>
                  <p class="card-description">
                    Categories
                  </p>
                  <form class="forms-sample"method="post"action="{% url 'updatecat' eid=pro.id %}"enctype="multipart/form-data">
                      {% csrf_token %}
                    <label for="exampleInputName1">Category Name</label>
                     <select class="form-control" name="category">
                              <option>{{pro.cname}}</option>
                               {% for i in sdata %}
                              <option>{{i.name}}</option>

                               {% endfor %}
                            </select>

                    <div class="form-group">
                      <label for="exampleInputName1"> Service Name</label>
                      <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name="Name" value="{{pro.sname}}">
                    </div>
                       <div class="form-group">
                      <label for="exampleTextarea1">Description</label>
                      <textarea class="form-control" id="exampleTextarea1" rows="4" placeholder="Description"name="description">{{pro.sdis}}</textarea>
                    </div>
                       <div class="form-group">
                      <label for="exampleInputName1">price</label>
                      <input type="text" class="form-control"  placeholder="price" name="price">
                    </div>

<!--                    <div class="form-group">-->
<!--                      <label for="exampleInputEmail3">Email address</label>-->
<!--                      <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                      <label for="exampleInputPassword4">Password</label>-->
<!--                      <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                      <label for="exampleSelectGender">Gender</label>-->
<!--                        <select class="form-control" id="exampleSelectGender">-->
<!--                          <option>Male</option>-->
<!--                          <option>Female</option>-->
<!--                        </select>-->
<!--                      </div>-->
                    <div class="form-group">
<!--                      <label>File upload</label>-->
<!--                      <input type="file" name="img[]" class="file-upload-default">-->
                      <div class="input-group col-xs-12">
                           <img src="{{pro.sim.url}}"width="150px"height="150px">
                        <input type="file" placeholder="image"name="profile">
                        <span class="input-group-append">
                          <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                      </div>
                    </div>
<!--                    <div class="form-group">-->
<!--                      <label for="exampleInputCity1">City</label>-->
<!--                      <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                      <label for="exampleTextarea1">Textarea</label>-->
<!--                      <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>-->
<!--                    </div>-->
                    <button type="submit" class="btn btn-primary mr-2">Update</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>

</body>
</html>
{% endblock %}